<ion-view view-title="About">
    <ion-content>
        <div class="row">
            <div class="col">
                <h2 class="title">EventShip</h2>
                Motivation and Retrospective Mobile App
                <br/>
                <br/>

                Developed by <a href="https://twitter.com/lavrton" target="_blank">Lavrenov Anton</a>.

                <br/>
                <br/>

                You can read more about application and about my motivation for creating it here: <a href="https://eventship.mobi/">https://eventship.mobi/</a>.

                <br/>
                <br/>
                <div class="item item-text-wrap">Version 0.6.0</div>
            </div>
        </div>
    </ion-content>
</ion-view>