<ion-view view-title="{{$root.t('about.title')}}">
    <ion-content>
        <div class="row">
            <div class="col">
                <h2 class="title">EventShip</h2>
                {{$root.t('about.appDesc')}}
                <br/>
                <br/>

                {{$root.t('about.developedBy')}} <a href="https://twitter.com/lavrton" target="_blank">{{$root.t('about.anton')}}</a>.

                <br/>
                <br/>

                {{$root.t('about.links')}} <a href="https://eventship.mobi/">https://eventship.mobi/</a>.

                <br/>
                <br/>
                <div class="item item-text-wrap">Version 0.6.0</div>
            </div>
        </div>
    </ion-content>
</ion-view>