<ion-view view-title="My events">
    <ion-content>

        <!-- SUBMIT DAY -->
        <div class="card" ng-if="unsubmitType === 'day'">
            <form ng-submit="createDayEvent(event)">
                <div class="item item-divider">
                    Add event for {{lastEventDate.toDateString()}}.
                </div>
                <div class="item item-text-wrap">
                    <label class="item item-input">
                        <input type="text" placeholder="Write event title" ng-model="event.title">
                    </label>
                </div>
                <div class="item">
                    <label>Day score:</label>
                    <div class="range range-positive" ng-class="{0:'bad-text', 1:'not-good-text', 2:'good-text', 3:'awesome-text'}[event.score]">
                        <i class="icon ion-thumbsdown"></i>
                        <input type="range" name="score" min="0" max="3" step="1" ng-model="event.score" ng-init="event.score = 2">
                        <i class="icon ion-thumbsup"></i>
                    </div>
                </div>

                <div class="item item-divider">

                    <button class="button button-block" ng-class="{0:'button-assertive', 1:'button-energized', 2:'button-positive', 3:'button-balanced'}[event.score]" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <!-- END SUBMIT DAY -->


        <!-- SUBMIT NESTED -->
        <div class="card" ng-if="unsubmitType !== 'day' && !submitDone">
            <form ng-submit="createNestedEvent(event)">
                <div class="item item-divider">
                    Make choise for {{beautifyDate(event)}}.
                </div>
                <div class="item item-text-wrap">
                    <ion-radio ng-repeat="variant in unsubmitVariants" ng-model="selectedEvent.id" ng-value="variant.id">
                        {{variant.title}}
                    </ion-radio>
                </div>
                <div class="item item-divider">
                    <button class="button button-block button-positive" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
        <!-- END SUBMIT NESTED -->


        <!-- ON SUBMIT DONE -->
        <div class="card" ng-if="submitDone">
            <div class="item item-text-wrap">
                All done!
            </div>
        </div>
        <!-- ON SUBMIT DONE -->


        <!-- EVENTS LIST -->
        <ion-list>
            <div class="item item-divider">
                Last events:
            </div>

            <ion-item ng-repeat="event in combinedEventsList" href="#/app/events/{{event.type}}/{{event.id}}" ng-value="variant.id" ng-class="{0:'bad', 1:'not-good', 2:'good', 3:'awesome'}[event.score]">
                {{event.title}}<span class="item-note">{{beautifyDate(event)}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
