<ion-view view-title="My events">
    <ion-content>

        <!-- SUBMIT DAY -->
        <div ng-if="event && event.type === 'day'">
            <form ng-submit="createDayEvent(eventToSave)">
                <div class="item item-divider">
                    Add event for {{beautifyDate(event)}}.
                </div>
                <div class="item">
                    <!--<label>Day score:</label>-->
                    <div class="range" ng-class="{0:'bad-text range-bad', 1:'not-good-text range-not-good', 2:'good-text range-good', 3:'awesome-text range-awesome'}[eventToSave.score]">
                        <i class="icon ion-thumbsdown"></i>
                        <input type="range" name="score" min="0" max="3" step="1" ng-model="eventToSave.score" ng-init="eventToSave.score = 2" ng-change="onScoreChange(eventToSave)">
                        <i class="icon ion-thumbsup"></i>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <label class="item item-input">
                        <input type="text" placeholder="{{eventToSave.placeholder || 'Write event title'}}"  ng-model="eventToSave.title">
                    </label>
                </div>

                <div class="item item-divider">

                    <button class="button button-block" ng-class="{0:'button-bad', 1:'button-not-good', 2:'button-good', 3:'button-awesome'}[eventToSave.score]" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
        <!-- END SUBMIT DAY -->


        <!-- SUBMIT NESTED -->
        <div ng-if="event && event.type !== 'day'">
            <form ng-submit="createNestedEvent(event)">
                <div class="item item-divider">
                    Make choise for {{beautifyDate(event)}}.
                </div>
                <div class="item item-text-wrap">
                    <ion-radio ng-repeat="variant in unsubmitVariants" ng-class="{0:'bad', 1:'not-good', 2:'good', 3:'awesome'}[variant.score]" ng-model="selectedEvent.id" ng-value="variant.id">
                        {{variant.title}}
                    </ion-radio>
                </div>
                <div class="item item-divider">
                    <button class="button button-block button-positive" type="submit" ng-disabled="!selectedEvent.id">
                        <span ng-if='selectedEvent.id'>Save</span>
                        <span ng-if='!selectedEvent.id'>Firstly, choose the best event.</span>
                    </button>
                </div>
            </form>
        </div>
        <!-- END SUBMIT NESTED -->


        <!-- ON SUBMIT DONE -->
        <div class="card" ng-if="!event">
            <div class="item item-text-wrap">
                Done! What will be your important event for tomorrow?
            </div>
        </div>
        <!-- ON SUBMIT DONE -->


        <!-- EVENTS LIST -->
        <ion-list ng-if="combinedEventsList.length">
            <div class="item item-divider">
                Last events: 
            </div>

            <ion-item ng-repeat="event in combinedEventsList track by event.id + event.type" href="#/app/events/{{event.type}}/{{event.id}}" ng-value="variant.id" ng-class="{0:'bad', 1:'not-good', 2:'good', 3:'awesome'}[event.score]">
                {{event.title}}<span class="item-note">{{beautifyDate(event)}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
