<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{$root.t('login.title')}}</h1>

        <div class="buttons">
            <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
        </div>
    </ion-header-bar>
    <ion-content>

        <button class="button button-full button-positive" ng-click="doLogin('facebook')" ng-hide="user">
            {{$root.t('login.via')}} Facebook
        </button>

        <button class="button button-full" style="background-color: #F44336; color: white; border-color: #B71C1C"ng-click="doLogin('google')" ng-hide="user">
            {{$root.t('login.via')}} Google
        </button>

        <button class="button button-full" ng-click="enterAsGuest()" ng-hide="user">
            {{$root.t('login.asGuest')}}
        </button>

        <div class="row">
          <div class="col">
              {{$root.t('login.warn')}}
          </div>
        </div>
    </ion-content>
</ion-modal-view>
