<ion-view view-title="Settings">
    <ion-content>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Notification time</span>
        
            <ionic-timepicker input-obj="timePickerObject">
                <button class="button button-block button-positive overflowShow" ng-disabled="!isApp">
                <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
                <span ng-if="!isApp">Disabled for web version</span>
              </button>
            </ionic-timepicker>
        </label>
        <!-- <label class="item item-input">
            <span class="input-label">Start date:</span>
            <input type="date" ng-model="settings.startDate">
        </label> -->

        <div class="card">
            <div class="item item-text-wrap">Logged as:
                <span ng-if="$root.user.facebook">{{$root.user.facebook.displayName}}</span>
                <span ng-if="$root.user.google">{{$root.user.google.displayName}}</span>
                <span ng-if="$root.guest">Guest</span>
            </div>
        </div>

        <button class="button button-full button-outline button-assertive" ng-click="logout()">Logout
        </button>
    </ion-content>
</ion-view>
