<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Welcome!</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeTour()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="tour">
        <ion-slide-box>
            <!--<ion-slide-pager></ion-slide-pager>-->
            <ion-slide>
                <!--<img src="img/tour1.png" width="200px">-->
                <div class="box blue">BLUE</div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><h1>YELLOW</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><h1>PINK</h1></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
