<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">{{$root.t('tour.title')}}!</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeTour()">{{$root.t('tour.close')}}</button>
        </div>
    </ion-header-bar>
    <ion-content class="tour">
        <ion-slide-box>
            <!--<ion-slide-pager></ion-slide-pager>-->
            <ion-slide>
                <div class="box blue">
                    <div class="row">
                        <img src="img/tour1.png" style="margin-right:auto; margin-left:auto; width: 80%; height:80%;">
                    </div>
                    <div class="row">
                        <div class="col" ng-bind-html="$root.t('tour.step1')">
                            
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <div class="row">
                        <img src="img/tour2.png" style="margin-right:auto; margin-left:auto; width: 60%; height:60%;">
                    </div>
                    <div class="row">
                        <div class="col" ng-bind-html="$root.t('tour.step2')">
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <div class="row">
                        <div class="col">
                            <div class="row"  ng-bind-html="$root.t('tour.step3')">
                            </div>
                        </div>
                    </div>
                    <button class="button button-full button-balanced" ng-click="closeTour()" >
                        Go!
                    </button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
