<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Welcome!</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="closeTour()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="tour">
        <ion-slide-box>
            <!--<ion-slide-pager></ion-slide-pager>-->
            <ion-slide>
                <div class="box blue">
                    <div class="row">
                        <img src="img/tour1.png" style="margin-right:auto; margin-left:auto; width: 80%; height:80%;">
                    </div>
                    <div class="row">
                        <div class="col">
                            Every night before you are going to sleep, think about it for a moment, consider passing day and write down one thing, the most important event of the last day.
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow">
                    <div class="row">
                        <img src="img/tour2.png" style="margin-right:auto; margin-left:auto; width: 60%; height:60%;">
                    </div>
                    <div class="row">
                        <div class="col">
                            By the end of the week, select the event that you think was the most important.
                            <br/>
                            At the end of the month you should select the most important event of the month, the quarter, the year ...
                        </div>
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box pink">
                    <div class="row">
                        <!-- <img src="img/tour1.png" style="margin-right:auto; margin-left:auto;" height="200px"> -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                Relax and analyze events, strive to do more.
                                <br/>
                                <br/>
                                How do you think what will be the most important event of the next month for you?
                                <br/>
                                <br/>
                                Start using app right now and try to use it in a long term.
                                <br/>
                                <br/>
                                Have a fun!
                            </div>
                          <!--   <div class="row">
                            </div> -->
                        </div>
                    </div>
                    <button class="button button-full button-balanced" ng-click="closeTour()" >
                        Go!
                    </button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-modal-view>
